// Variables
$navGrey: rgb(231, 231, 231);

// Nav
.navbar {
	height: 70px;
	background-color: $navGrey;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#navLogo {
	height: 50px;
}

.nav-link {
	margin: 0 30px;
	text-decoration: none;
	color: rgb(83, 83, 83);
}

#navRS {
	margin-right: 20px;
}
